.articles-acceuil{
    min-width: 650px;
    display: flex;
    justify-content: space-around;
}

.article-acceuil{
    margin-bottom: 50px;
    padding: 20px;
    width: 30%;
    min-height: 300px;
    max-height: 300px;
}

.article-acceuil > .article-txt{
    padding-right: 10px;
    min-height: 175px;
    max-height: 175px;
    overflow: hidden;
}
