
.article-du-jour{
    padding: 10px;
    min-width: 450px;
    max-width: 450px;
    max-height: 500px;
    min-height: 500px;
}

.article-du-jour-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.article-du-jour-header > button{
    border: none;
    background-color: inherit;
}

.article-du-jour>p{
    text-align: justify;
    overflow: hidden;
}

.article-du-jour > .article-journalier-titre{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.article-journalier-btn{
    display: flex;
    justify-content: flex-end;
}

.article-journalier-btn > button{
    justify-content: center;
    background-color: inherit;
    border: none;
}

.article-journalier-img{
    float: left;
    margin-right: 10px;
    width: 200px;
    height: 150px;
    object-fit: contain;
    overflow: hidden;
}

.article-journalier-img > img{
    width: 100%;
}