.carrousel{
    margin-top: 100px;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}

.carrousel{
    position: relative;
    width:  100%;
    object-fit: contain;
}

.carrousel>img{
    width: 100%;
    height: auto;
}

.banner-nav{
    position: absolute;
    top: 45%;
}

.banner-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.banner-nav button{
    background-color: var(--TransMediumCarmine);    
    border: none;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
}

.banner-nav button:hover{
    background-color: var(--HovMediumCarmine);
}
