.liens-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.liens-rapides{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.liens-rapides{
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.boite-lien{
    height: 125px;
    width: 170px;
    background-color: var(--Xiketic);
}

.boite-lien:hover{
    transition: 0.6s;
    border-radius: 50px;
}

.boite-lien>button{
    height: 100%;
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
}

.boite-lien>button:hover{
    transition: 0.6s;
    border-radius: 50px;
}

.cadre-img{
    background-color: black;
    width: 40%;
    height: 341px;
    object-fit: cover;
}

.cadre-img>img{
    opacity: 0.6;
    max-width: 100%;
}

.cadre-img>img:hover{
    transition: 0.6s;
    opacity: 1;
}

.cadre-img>h1{
    height: fit-content;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    position: absolute;
    z-index: 1;
}

/* .Ajout dimage dans les liens*/

.monarchie{
    background-image: url("/css/img/liens-Elizabeth-Stamp.jpg");
}

.default{
    background-image: url("/css/img/Rare-plane.jpg");
}

.deuxiemeGuerre{
    background-image: url("/css/img/liens-wwII-stamp.jpg");
}

.rares{
    background-image: url("/css/img/liens-rare.jpg");
}

.monde{
    background-image: url("/css/img/lien-worlwide.jpg");
}

.approuve{
    background-image: url("/css/img/lien-approved.jpg");
}