.infos-carte-boite{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}


.infos-carte-img{
    background-color: var(--Xiketic);
    max-width: 325px;
    min-width: 325px;
    height: 400px;
    object-fit: cover;
    overflow: hidden;
}

.infos-carte-img>img{
    width: 100%;
}

.img-infos-carte-separateur{
    width: fit-content;
    display: flex;
}


.img-infos-carte-separateur>.mini-img{
    background-color: var(--Xiketic);
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;    

}

.img-infos-carte-separateur>.mini-img{
    gap: 10px;
    height: 400px;
    min-width: 75px;
    max-width: 75px;
}

.mini-img>img{
    background-color: rgb(129, 129, 129);
    width: 60px;
    height: 60px;
}

.infos-carte-text{
    padding: 10px;
    width: 600px;
    min-width: 400px;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.infos-carte-text>div{
    width: 100%;
    height: fit-content;
}

.infos-carte-bas{
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.infos-carte-bas>div{
    border-right: 2px solid var(--GrisTrans);
    height: 100%;
    width: 24%;
}

.infos-carte-prix{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.infos-carte-prix>div{
    display: flex;
    align-items: center;
}

.infos-carte-bas>div{
    min-width: 250px;
}

.infos-carte-bas .badge{
    display: flex;
}
