body{
    margin: 0;
    width: 100%;
}

main>*{
    margin: 30px;
    margin-top: 50px;
}

/*Typographies*/

h1{
  text-align: center;
  color: var(--MediumCarmine);
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 40px;
}

h2{
  font-family: 'Times New Roman', Times, serif;
  color: rgba(0, 0, 0, 0.623);
  font-size: 70px;
}

h3{
  font-family: 'Freehand', cursive;
  font-size: 20px;
}

pre{
  font-size: 15px;
}

p{
  font-family: 'Times New Roman', Times;
  font-size: 14px;
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
  
 
  ::-webkit-scrollbar-track {

  }
   

  ::-webkit-scrollbar-thumb {
    background: var(--MediumCarmine); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--HovMediumCarmine); 
  }