body{
    margin: 0;
    width: 100%;
}

main>*{
    margin: 30px;
    margin-top: 50px;
}

header{
  margin-bottom: 100px;
}

a{
  font-family: 'Times New Roman', Times, serif;
}
/*Typographies*/

h1{
  text-align: center;
  color: var(--MediumCarmine);
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 40px;
}

h2{
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.623);
  font-size: 30px;
}

h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

h4{
  text-align: center;
  text-decoration: overline;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.153);
}

h5{
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}

pre{
  font-size: 15px;
}

p{
  font-family: 'Times New Roman', Times;
  font-size: 16px;
}

button{
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}

/*Flex space around horizontale*/

.line-separation{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--MediumCarmine); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--HovMediumCarmine); 
  }