:root {

    /*Main colors*/
    --MaximumBluePurple: #9da8da;
    --Ivory: #f7fbf0;
    --MediumCarmine: #b93c3c;
    --Xiketic: #211A26;
    --BlueRYB: #364bdf;

    /*Hover colors*/
    --HovMediumCarmine: #c75353;

    /*Fonts*/
    
  }